.MMM-BMWConnected .bmw-container {
  width: 320px;
  line-height: 1.50;
  font-size: 20px;
  color: #fff;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #222;
  position: relative;
  text-align: left
}

.MMM-BMWConnected .bmw-container img {
  position: absolute;
  top: -200px;
  left: 55px;
  width: 300px;
}

.MMM-BMWConnected .bmw-container .fas {
  width: 30px;
  color: #fff;
  text-align: center;
  /* color: #999; */
}



.MMM-BMWConnected .bmw-container .updated {
  font: bold 16px Helvetica, Sans-Serif;
  text-align: center !important;
  color: #666;
}

/*
.MMM-BMWConnected .bmw-container .mileage {
  color: #fff;
  float: right;
}


.MMM-BMWConnected .bmw-container .fuelRange {
  color: #fff;
  float: left;
}


.MMM-BMWConnected .bmw-container .carSecure{
  float: left;
}


.MMM-BMWConnected .bmw-container .carDoor {
  color: #fff;
  float: center;
}



.MMM-BMWConnected .bmw-container .carWindow {
  color: #fff;
  float: right;
}
*/
